@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

#banner {
        background-color: #FFA500;
        position: relative;
        z-index: 5;
        padding: 20px;
        text-align: center;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 20;
    	width: 100%;
}

#bannerimg {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

#navbar {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        background-color: #87ceeb;
        position: static;
        z-index: 5;
}

#navbar-list {
  background-color: #87ceeb;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

.navbar-element{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: left;
}

.logo{
    width:10%;
    height:auto;
    display: inline-block;
    vertical-align: left;
}

#content {
    position: relative;
    z-index: 5;
	margin-left: auto;
	margin-right: auto;
	padding: 5% 20% 5% 20%;
}


#bg {
    z-index: 1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bgImg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.error{
    text-align: center;
}